In [ ]:
#data preparation
import pandas as pd

df = pd.read_csv('Students Performance.csv')

df

    gender parental level of education test preparation course  nilai
0     male                some college                    none     43
1     male            some high school               completed     77
2     male                some college               completed     83
3     male             bachelor degree               completed     83
4   female             bachelor degree                    none     73
..     ...                         ...                     ...    ...
95    male                 high school                    none     30
96  female                 high school                    none     62
97    male                 high school                    none     71
98    male            associate degree                    none     66
99    male                some college               completed     85

[100 rows x 4 columns]



---



---

<h2>Soal 1: Indexing</h2>

1. Lakukan indexing terhadap dataframe untuk mengakses column 'gender' dan 'parental level of education' saja
2. Lakukan indexing terhadap dataframe untuk mengakses row 10 sampai 20 beserta column 'test preparation course' dan 'nilai'

In [ ]:
#code here

Expected output :

poin a:

![alt text](https://drive.google.com/uc?id=10IktjvsNtqzhq7H7vrP7wvQTVx5EWJjA)


poin b:

![alt text](https://drive.google.com/uc?id=1Dc2OdbTATwZRsPC24rSH3citYmfyrVHv)



---



---

<h2>Soal 2: Filter DataFrame Dengan Boolean</h2>

1. Tampilkan semua data siswa yang level pendidikan orang tuanya 'high school' dan 'bachelor degree'
2. Tampilkan semua data siswa yang mempunyai nilai lebih dari 50 dengan test preparation course 'completed'
3. Tampilkan semua data siswa yang mempunyai nilai lebih dari 70, berjenis kelamin perempuan dengan test preparation course 'completed'

In [ ]:
#code here

Expected output: 

poin a:(tampilan hanya sebagian)

![alt text](https://drive.google.com/uc?id=1UiNs119fMKgPVa1SiIZxojC5iOkW2Ub1)


poin b: (tampilan hanya sebagian)

![alt text](https://drive.google.com/uc?id=13fc9IaUbwfzLiNgX6jEoLLuUjYli_YJq)

poin c:

![alt text](https://drive.google.com/uc?id=1SYby1GosYEyMQ26KdGOzvL48cKXpikp1)



---



---

<h2>Soal 3: Data Transformation</h2>

lakukan data transformasi terhadap column 'nilai' dengan fungsi transformasi, berikut rumus dari normalisasi

![alt text](https://drive.google.com/uc?id=1wed-EbRSTA0JP1ceDp6lcKBqH2yJ4aa3)

In [ ]:
#code here



---



---